.tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 0.5rem;
}

.tag span {
    margin: 0;
    padding: 0;
    margin-left: 0.5rem;
    color: #737373;
}

.tag:hover span {
    color: #633cff;
}

.tag:hover img {
    filter: brightness(0) saturate(100%) invert(27%) sepia(93%) saturate(3954%) hue-rotate(245deg) brightness(97%) contrast(108%);
}

.active {
    background-color: #efebff;
}

.active span {
    color: #633cff;
}

.active img {
    filter: brightness(0) saturate(100%) invert(27%) sepia(93%) saturate(3954%) hue-rotate(245deg) brightness(97%) contrast(108%);
}

@media only screen and (max-width: 450px) {
    .tag {
        padding: 1.2rem 3rem;
    }

    .mobile-text {
        display: none;
    }
}