#editor-view {
    position: relative;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #fafafa;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.phonePreview {
    width: 40%;
    flex-flow: column;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2.5rem;
    position: relative;
}

.image-holder {
    position: relative;
    width: min-content;
}

.phone-image {
    position: relative;
}

.profile-image-holder {
    position: absolute;
    top: 17.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 98px;
    height: 98px;
    overflow: hidden;
    border-radius: 100px;
    opacity: 1;
    border: 4px solid #623cff;
}

.profile-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.link-prev {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.name-prev {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 70%;
    text-align: center;
}

#link1 {
    position: absolute;
    top: 44%;
    left: 11%;
    width: 78%;
}

#link2 {
    position: absolute;
    top: 54%;
    left: 11%;
    width: 78%;
    opacity: 1;
}

#link3 {
    position: absolute;
    top: 64%;
    left: 11%;
    width: 78%;
    opacity: 1;
}

#link4 {
    position: absolute;
    top: 74%;
    left: 11%;
    width: 78%;
    opacity: 1;
}

#link5 {
    position: absolute;
    top: 84%;
    left: 11%;
    width: 78%;
    opacity: 1;
}

.mainView {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 3rem;
    flex: 1;
    height: 90%;
    overflow: hidden;
}

.editor {
    position: relative;
    width: 58%;
    height: 100%;
    background-color: white;
    border-radius: 2.5rem;
    display: flex;
}

@media only screen and (max-width: 1025px) {
    .phonePreview {
        display: none;
    }

    .mainView {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .editor {
        width: 100%;
    }

    @media only screen and (max-width: 450px) {}
}